
/* * {
    outline: 0.25px solid blue;
} */

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 10px;
}

table {
  position: relative;
  /* top: 20px; */
  /* left: 50px; */
  width: 97;
  border-collapse: collapse;
  padding: 20px 10px;
}

td, th {
  box-sizing: border-box;
  width: 83px;
  height: 50px;
  border: 1px solid black;
  padding: 0px;
  text-align: center;
  font-size: 16px;
}

td {
  font-weight: normal;
}

th {
  font-weight: bold;
  border: none;
}

tfoot td {
  background-color: rgb(236, 172, 146);
  font-weight: bold;
}

form {
  position: relative;
  /* top: 20px; */
  /* left: 50px; */
  width: 97;
  margin: 50px 10px;
  border-spacing: 0px;
  padding: 0px;
}

form label, input {
  box-sizing: border-box;
  width: 25%;
  margin: 5px 0px;
}

form input {
  height: 40px;
  text-align: center;
} 

form label {
  text-align: center;
  font-weight: bold;
  float: left;
}

button {
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 50px;
}

.leftColumn {
  width: 200px;
  border: none;
}

th.leftColumn {
  text-align: right;
  padding-right: 15px;
}

.rightColumn {
  background-color: rgb(152, 247, 242);
  width: 100px;
  border: 1px solid black;
}

.topCornerCell {
  background-color: none;
  border: none;
}

#leftFooter {
  background-color: white;
  border: none;
  text-align: right;
  padding-right: 15px;
}

#rightFooter {
  background-color: rgb(207, 210, 211);
}